<!DOCTYPE html>
<html>

<title> Chico State Pantry</title>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="stylesheets/style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="icon" href="https://www.csuchico.edu/style-guide/visual/_images/CSUCHICO-Seal-Color.png">

<style>
    /* Make the image fully responsive */
    
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
</style>

</head>

<body>

    <br>
    <br>
    <br>
    <div class="container ">
        <div class="row">

            <div class="col-md-12">
                <div class="box_out" style="min-height: 650px;">

                    <%- include('partials/header_2') %>

                        <div class="inWrap">
                            <br><br>


                            <div class="container">

                                <div class="row">
                                    <div class="col-md-4 ">


                                        <form action="/add_donor" method="post">

                                            <div class="hHold">
                                                Add Donor
                                            </div>
                                            <br>

                                            <%- include('partials/messages_2') %>

                                                <div class="form-group ">
                                                    <input type="text " class="form_input" id="name " name="name" placeholder="Name ">
                                                    <small id="emailHelp " class="form-text text-muted "></small>
                                                </div>

                                                <div class="form-group ">
                                                    <input type="email " class="form_input" id="email " name="email" aria-describedby="emailHelp" placeholder="E-mail">
                                                </div>


                                                <div class="form-group ">
                                                    <input type="text " class="form_input" id="phone " name="phone" placeholder="Phone Number">
                                                </div>

                                                <div class="form-group ">
                                                    <input type="tetx " class="form_input" id="location " name="location" placeholder="Location">
                                                </div>
                                                <div class="form-group ">
                                                    <select class="form-control " id="type" name="type">
                                                        <option disabled selected>Select Type</option>
                                                        <option value="0">Personal</option>
                                                        <option value="1">Organization</option>
                                                        <option value="2">Anonymous</option>
                                                      </select>
                                                </div>


                                                <button type="submit " id="submitDetails " name="submitDetails " class="btn form_input red font-white ">Add</button>
                                        </form>

                                    </div>

                                    <div class="col-md-8 ">

                                        <table class="table ">
                                            <thead class=" ">
                                                <tr style="background-color: #8c2332; color: white; ">
                                                    <th scope="col ">#</th>
                                                    <th scope="col ">Name</th>
                                                    <th scope="col ">Email</th>
                                                    <th scope="col ">Location</th>
                                                    <th scope="col ">Donate</th>

                                                </tr>
                                            </thead>
                                            <tbody>

                                                <% for(var i=0; i<(data.donors).length; i++) {%>
                                                    <tr class="tb_dn ">
                                                        <th scope="row ">
                                                            <%= i+1 %>
                                                        </th>
                                                        <td style="text-transform: capitalize; ">
                                                            <%= data.donors[i]['name']%>
                                                        </td>
                                                        <td>
                                                            <%= data.donors[i]['email']%>
                                                        </td>
                                                        <td>
                                                            <%= data.donors[i]['location']%>
                                                        </td>
                                                        <td>
                                                            <a href="/stock?id=<%= data.donors[i]['_id']%>"><button type="button" class="btn btn-primary">Donate</button></a>
                                                        </td>


                                                    </tr>
                                                    <% } %>

                                            </tbody>
                                        </table>


                                    </div>




                                </div>

                            </div>


                        </div>

                </div>
            </div>
        </div>
    </div>

    <footer class="footer mt-5 ">
        <div class="container ">
            <span></span>
        </div>
    </footer>

</body>

</html>